@*<nav>
    <h2>Random Content Viewer</h2>
    <ul class="list-unstyled list-inline">
        <li><a asp-action="Index" asp-controller="Main">Home</a></li>
        <li><a asp-action="Upload" asp-controller="Upload">Upload</a></li>
        <li><a asp-action="Browse" asp-controller="Browse">Browse</a></li>
    </ul>
</nav>*@
<div class="spacer"></div>