@Html.Partial("Header")

<div class="text-center">
    <img src="~/img/banner.jpg" alt="Random Content Viewer Banner" class="banner" />

    <h2>Welcome</h2>
    <p>This site allows you to upload as well as browse completely random images found around the internet. They may be funny, serious, or even offensive. Enter at your own risk!</p>
    <br /> <hr /> <br />
    <h3>Browse for <a asp-action="Browse" asp-controller="Browse"><b>more</b></a>, or <a asp-action="Upload" asp-controller="Upload"><b>upload your own!</b></a></h3>
</div>